<stylesheet> 
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
</stylesheet>
<footer class="hiddenY">
    <div class="element">
        <div class="mentions hiddenY">
            <ul>
                <li><a href="/">Mentions légales</a></li>                
                <li><a href="/">Politiques de Confidentialités</a></li>
                <li><a href="/">Conditions Générales d'utilisations</a></li>
            </ul>
        </div>
        <div class="hero"></div>
        <div class="pages hiddenY">
                <a href="/SAE3">Accueil</a>
                <a href="/SAE3/evenements">Équipe</a>
                <a href="/SAE3/galerie">Contact</a>
        </div>
        <div class="hero"></div>
        <div class="reseaux hiddenY">
            <div class="facebook">
                <a href="https://www.facebook.com/RGraphics07" target="_blank"><img src="{{ asset('images/facebook.png') }}" alt="facebook"></a>
            </div>
        </div>
    </div>
</footer>
<script src="{{ asset('js/AnimationScroll.js') }}"></script>
