
/* :root{
    --color-background: #FFFFFF;
    --color-first-color: #FFD500;
    --color-second-color: #F5F5F5;
    --color-button: rgba(255, 213, 0, 0.7);
    --color-text: #000000;
} */

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}



/* Section 1 */



.section{
    height: 720px;
    overflow: hidden;
}
.section1-accueil{
    height: 820px;
    overflow: hidden;
}

.div-accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    gap: 50px;
}
.logo-accueil{
    width: 55%;
    transition: all 0.3s ease-in-out;
}



.logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:90%;
    margin-top: 10rem;
    /* animation: beat 4s linear infinite 01s ; */

}
.logo-accueil img{
    width: 100%;
}

.logo-accueil:hover{
    transform: scale(1.001);
}
.logo-accueil img:hover{
    filter: drop-shadow(4px 4px 1px rgba(0,0,0,0.2));
}

.text-accueil{
    width: 20%;
    text-align: justify;
}
.text-accueil p{
    color: var(--color-text);
}
.btn-decouvrir{
    width: 150px;
    background-color: var(--color-button);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.30);
    transition: all 0.3s ease-in-out;
    animation: tac 2s linear infinite ;
}

@keyframes tac {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
    
}

.btn-decouvrir:hover{
    background-color: rgba(255, 213, 0, 0.9);
    /* animation: tac 2s linear infinite ; */
    cursor: pointer;
    /* transform: scale(1.25); */
}


.star {
    position: absolute;
    top:-293px;
    left: -182px;
    width: 1100px;
    height: 1100px;
    background-color: var(--color-background);
    clip-path: polygon(48% 0, 59% 36%, 98% 32%, 66% 50%, 74% 85%, 48% 70%, 21% 86%, 38% 55%, 4% 49%, 38% 38%);
    transform-origin: center;
    z-index:-2;
}

.star-background {
    position: absolute;
    top: -300px;
    left: -190px;
    width: 1115px;
    height: 1115px;
    background-color: #ffd500;
    clip-path: polygon(48% 0, 59% 36%, 98% 32%, 66% 50%, 74% 85%, 48% 70%, 21% 86%, 38% 55%, 4% 49%, 38% 38%);
    transform-origin: center;
    z-index:-3;
}



/* Section 2 */


#section2{
    height: auto;
}

.div-covering{
    margin-top: 75px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    gap: 35px;
}

.titre h2 {
    width: fit-content;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--color-text);
}

.titre{
    font-weight: 100;
    width: 100%;
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 4rem;
}

.titre h2::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-first-color);
    transition: all 0.3s;
}

.div-tire-onglet{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width:100%;
}

.dropdown {
    position: fixed;
    right: -55%;
    /* transform: translateY(-50%); */
    top: 12%;
    display: block;
    /* width: 10px; */
    z-index: 100;
    transition: right 0.2s ease-in-out;
}

/* Style du bouton du dropdown */
.dropdown-btn {
    background-color: rgba(255, 213, 0, 0.7);
    border-radius: 10px;
    color: var(--color-text);
    padding: 10px;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 190px;
    gap : 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.30);
}

/* Style de la liste déroulante */
.dropdown-content {
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(249, 249, 249, .8);
    width: auto;
    height: 0px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

/* Style des liens dans la liste déroulante */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

/* Changement de couleur des liens au survol */
.dropdown-content a:hover {
    background-color: rgba(255, 213, 0, 0.7); 
    border-radius: 10px;
}

/* Affichage de la liste déroulante lorsqu'elle est activée */
.dropdown:hover .dropdown-content {
    height: 437px;
}

.dragging {
    opacity: 0.7;
    cursor: grab;
}

.swiper-container{
    width: 85%;
    /* height: 50%; */
    overflow: hidden;
}

.swiper-wrapper{
    width: 100%;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    width: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.swiper-container .swiper-slide img{
    box-sizing: border-box;
    width: auto;
    height: 500px;
    display: block;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.info_cov{
    position: absolute;
    top: -100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: auto;
    align-self: center;
    overflow: hidden;
    text-align: left;
    padding: 1rem;
    background-color: var(--color-first-color);
    /* border-radius: 0 0 10px 10px; */
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.swiper-slide img:hover + .info_cov{
    top: 0px;
    opacity: 0.8;
}

.info_cov:hover{
    top: 0px;
    opacity: 0.8;
}

#section3{
    height: auto;
}

/* #section3::-webkit-scrollbar {
    display: none;
}
#section3::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 15px;
}
#section3::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 15px;
} */



.contenu_marquage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem 1rem; 
}

.img_marquage{
    position: relative;
    overflow: hidden;
}

.img_marquage img{
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.info_marq{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    align-self: center;
    overflow: hidden;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--color-first-color);
    position: absolute;
    border-radius: 10px;
    padding: 0.5rem;
    top: 0;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.info_marq img:hover + .info_marq{
    opacity: 0.85;
}
.info_marq:hover{
    opacity: 0.85;
}

/* .img_marquage img:hover{
    transform: scale(1.01);
} */

#section4{
    height: auto;
    /* width: 200vw; */
    overflow: hidden;
}


.swiper-enseignes {
    -webkit-transition-timing-function:linear!important;
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    position: relative;
    padding: 1rem 1rem; 
    background-color: var(--color-second-color);
    transition: all 0.3s ease-in-out;
}

.swiper-enseignes .swiper-wrapper {
    -webkit-transition-timing-function:linear!important;
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important;
    display: flex;
    align-items: center;
}

.swiper-enseignes .swiper-slide{
    border-radius: 10px;
}

.swiper-enseignes .swiper-wrapper img{
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    align-content: center;
}


.swiper-enseignes-2 {
    -webkit-transition-timing-function:linear!important;
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    position: relative;
    padding: 1rem 1rem;
    background-color: var(--color-second-color);
    transition: all 0.3s ease-in-out;
}

.swiper-enseignes-2 .swiper-wrapper {
    -webkit-transition-timing-function:linear!important;
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important;
    display: flex;
    align-items: center;
}

.swiper-enseignes-2 .swiper-slide{
    border-radius: 10px;
}

.swiper-enseignes-2 .swiper-wrapper img{
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    align-content: center;
}
/* 
.img_enseigne{
    display: inline-block;
    position: relative;
    margin: 0 auto;
} */
.info_ens{
    position: absolute;
    top: -100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: auto;
    align-self: center;
    overflow: hidden;
    text-align: left;
    padding: 1rem;
    background-color: var(--color-first-color);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.swiper-enseignes .swiper-slide img:hover + .info_ens{
    top: 0px;
    opacity: 0.8;
}
.swiper-enseignes-2 .swiper-slide img:hover + .info_ens{
    top: 0px;
    opacity: 0.8;
}

.info_ens:hover{
    top: 0px;
    opacity: 0.8;
}



#section5{
    height: auto;
}

.contenu_logos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem 1rem;
}

.img_logos{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0.5rem;
    overflow: hidden;
}

.img_logos img{
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.info_logos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    align-self: center;
    overflow: hidden;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--color-first-color);
    position: absolute;
    border-radius: 10px;
    padding: 0.5rem;
    top: 0;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.img_logos img:hover + .info_logos{
    opacity: 0.85;
}
.info_logos:hover{
    opacity: 0.85;
}

#section6{
    height: auto;
}

.contenu_imp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3px;
    width: 98%;
    margin: 0 auto;
    margin-top: 1rem;
}

.img_imp{
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.img_imp img{
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    /* border-radius: 10px; */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.info_imp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    align-self: center;
    overflow: hidden;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--color-first-color);
    position: absolute;
    /* border-radius: 10px; */
    padding: 0.5rem;
    top: 0;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.img_imp img:hover + .info_imp{
    opacity: 0.85;
}
.info_imp:hover{
    opacity: 0.85;
}


#section7{
    height: auto;
}

.swiper-imprimerie{
    width: 98%;
    /* height: 50%; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.swiper-imprimerie .swiper-wrapper{
    width: 100%;
    gap: 0.5rem;
}

.swiper-imprimerie .swiper-slide{
    background-position: center;
    background-size: cover;
    width: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.swiper-imprimerie .swiper-slide img{
    box-sizing: border-box;
    width: auto;
    height: 500px;
    display: block;
    overflow: hidden;
}

.info_imp2{
    position: absolute;
    top: -100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: auto;
    align-self: center;
    overflow: hidden;
    text-align: left;
    padding: 1rem;
    background-color: var(--color-first-color);
    /* border-radius: 0 0 10px 10px; */
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.swiper-imprimerie .swiper-slide img:hover + .info_imp2{
    top: 0px;
    opacity: 0.8;
}

.info_imp2:hover{
    top: 0px;
    opacity: 0.8;
}



@media all and (max-width: 1170px){
    .logo-text{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        margin-top: 70px;
    }
    .logo-accueil{
        width: 100%;
        margin-top: 1rem;
    }
    .text-accueil{
        width: 100%;
        text-align: justify;
    }
    #section2{
        margin-top: 0;
    }
    .div-covering{
        margin-top: 0;
    }
}
@media all and (max-width: 975px){
    .star {
        top:-243px;
        left: -182px;
        width: 900px;
        height: 900px;
    }
    .star-background {
        top: -250px;
        left: -190px;
        width: 915px;
        height: 915px;
    }
    .swiper-container .swiper-slide img{
        height: 400px;
    }
    .contenu_marquage{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        gap: 0.7rem;
        font-size: auto;
    }
    .contenu_logos{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        gap: 0.7rem;
    }
    .contenu_imp{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        gap: 0.7rem;
    }
}

@media all and (max-width: 800px){
    .titre h2{
        font-size: 0.9rem;
    }
    .titre{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}
@media all and (max-width: 768px){
    .swiper-container .swiper-slide img{
        height: 300px;
    }
}

/* @media all and (max-width: 625px){
    .swiper-enseignes .swiper-slide img{
        width: 300px;
    }
} */

@media all and (max-width: 550px){
    #section1{
        height: 700px;
    }
    .star {
        top:-200px;
        left: -152px;
        width: 700px;
        height: 700px;
    }
    .star-background {
        top: -207px;
        left: -160px;
        width: 715px;
        height: 715px;
    }
}
@media all and (max-width: 510px){
    .swiper-container .swiper-slide img{
        height: 200px;
    }
}
@media all and (max-width: 450px){
    .dropdown {
        display: none;
    }
}
@media all and (max-width: 380px){
    .contenu_marquage{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        gap: 0.7rem;
    }
    .contenu_logos{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        gap: 0.7rem;
    }
    .contenu_imp{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        gap: 0.7rem;
    }
}
