.div-admin{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}


section{
    width: 100%;
    min-height: 720px;
}

.add-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}


.ajout-contenu form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 2rem;
}
.ajout-contenu form div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}



/* .addcontent_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
} */

.ajout-contenu{
    margin-top: 50px;
    width: 80%;
    margin-bottom: 50px;
    padding: 2rem;
    border: 1px solid var(--color-first-color);
    border-radius: 10px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    gap: 2rem;
}

.ajout-contenu .div_button_add_delete{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.button-add-content{
    font-family: 'Inter', sans-serif;
    width: 30%;
    height: 100%;
    background-color: var(--color-button);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.30);
    transition: all 0.3s ease-in-out;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.button-add-content:hover{
    background-color: rgba(255, 213, 0, 0.9);
    transform: scale(1.1);
    cursor: pointer;
}


.button-delete-content{
    font-family: 'Inter', sans-serif;
    width: 30%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.685);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.30);
    transition: all 0.3s ease-in-out;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.button-delete-content:hover{
    background-color: rgba(255, 0, 0, 1);
    transform: scale(1.1);
    cursor: pointer;
}

input{
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--color-text);
    border-radius: 15px;
}

#addcontent_form_legende{
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--color-text);
    border-radius: 10px 5px 5px 10px;
    resize: none;
    overflow-y: scroll;
}

#addcontent_form_legende::-webkit-scrollbar {
    width: 10px; /* Ajustez la largeur selon vos besoins */
}

#addcontent_form_legende::-webkit-scrollbar-thumb {
    background-color: #808080; /* Couleur du bouton de la scrollbar */
    border-radius: 15px; /* Border-radius pour rendre la scrollbar arrondie */
}
#addcontent_form_legende::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Couleur de la piste de la scrollbar */
    border-radius: 15px; /* Border-radius pour rendre la scrollbar arrondie */
}

#addcontent_form_legende:focus{
    outline: none;
    border: 1px solid var(--color-first-color);
}

input:focus{
    outline: none;
    border: 1px solid var(--color-first-color);
}


#addcontent_form_categorie{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    width: auto;
    padding: .5rem;
    align-self: flex-start;
    overflow: hidden;
    overflow-y: hidden;
}

#addcontent_form_categorie:focus{
    outline: none;
    border: 1px solid var(--color-first-color);
}
#addcontent_form_categorie:hover{
    cursor: pointer;
    background-color: #f1f1f1;
}



.vich-image{
    width: 100%;
}

.vich-image #addcontent_form_imageFile_file{
    width: 100%;
}







.button-inscription{
    font-family: 'Inter', sans-serif;
    width: 30%;
    margin-top: 1rem;
    background-color: var(--color-button);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.30);
    transition: all 0.3s ease-in-out;
}

.button-inscription:hover{
    background-color: rgba(255, 213, 0, 0.9);
    transform: scale(1.1);
    cursor: pointer;
}

.div-inscription{
    margin-top: 150px;
    margin-left: 35%;
    width: 30%;
    margin-bottom: 10%;
    padding: 2rem;
    border: 1px solid var(--color-first-color);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.div-inscription input{
    margin-top: 1rem;
}


.div-inscription form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.div-inscription form div{
    width: 100%;
}

.div-inscription h1{
    display: flex;
    justify-content: center;
    align-items: center;
}


.info-gen{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    align-items: center;
}

.div-form-info-gen{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    align-items: center;
    padding: 2rem;
    border: 1px solid var(--color-first-color);
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);    
}

.page-accueil{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.page-accueil h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-accueil .p-apercu{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    margin-left: 32px;
}

.page-accueil form{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 4rem 2rem;
    border-bottom: 1px solid var(--color-text);
}

.page-accueil form input {
    display: flex;
    margin-top: 0.5rem;
    padding: 0rem;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-text);
    border-radius: 3px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.page-accueil form label{
    display: none;
}

.page-accueil form input:hover {
    cursor: pointer;
}

.logo-accueil{
    width: 100%;
}

/* .page-accueil form div {
   width: 20%;
} */

.page-accueil form input{
    display: flex;
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    background-color: var(--color-button);
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.30);
    transition: all 0.3s ease-in-out;
}

.page-accueil form input:hover{
    background-color: rgba(255, 213, 0, 0.9);
    transform: scale(1.05);
    cursor: pointer;
}

.page-accueil form button {
    width: 10%;
}

.image-logo{
    display: flex;
    width: 100%;
    /* height: 400px; */
    border-radius: 10px;
    border: 1px solid var(--color-first-color);
    padding: 0.2rem;
}

.text-apercu{
    display: flex;
    width: 50%;
    height: 100px;
    background-color: #f1f1f1;
    border: 1px solid var(--color-first-color);
    border-radius: 10px 5px 5px 10px;
    padding: 0.2rem;
    overflow-y: scroll;
}


.text-apercu::-webkit-scrollbar {
    width: 10px; /* Ajustez la largeur selon vos besoins */
}
.text-apercu::-webkit-scrollbar-thumb {
    background-color: #808080; /* Couleur du bouton de la scrollbar */
    border-radius: 15px; /* Border-radius pour rendre la scrollbar arrondie */
}
.text-apercu::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Couleur de la piste de la scrollbar */
    border-radius: 15px; /* Border-radius pour rendre la scrollbar arrondie */
}

#text_accueil_from_textAccroche{
    width: 500px;
    height: 100px;
    padding: 0.5rem;
    border: 1px solid var(--color-text);
    resize: none;
    border-radius: 10px 5px 5px 10px;
    overflow-y: scroll;
}

#text_accueil_from_textAccroche:focus{
    outline: none;
    border: 1px solid var(--color-first-color);
}


#text_accueil_from_textAccroche::-webkit-scrollbar {
    width: 10px; /* Ajustez la largeur selon vos besoins */
}
#text_accueil_from_textAccroche::-webkit-scrollbar-thumb {
    background-color: #808080; /* Couleur du bouton de la scrollbar */
    border-radius: 15px; /* Border-radius pour rendre la scrollbar arrondie */
}
#text_accueil_from_textAccroche::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Couleur de la piste de la scrollbar */
    border-radius: 15px; /* Border-radius pour rendre la scrollbar arrondie */
}

#info_contact_form_value_param{
    width: 500px;
    height: 100px;
    padding: 0.5rem;
    border: 1px solid var(--color-text);
    resize: none;
    border-radius: 10px 5px 5px 10px;
    overflow-y: scroll;
}
#info_contact_form_value_param:focus{
    outline: none;
    border: 1px solid var(--color-first-color);
}

#info_contact_form_value_param::-webkit-scrollbar {
    width: 10px; /* Ajustez la largeur selon vos besoins */
}
#info_contact_form_value_param::-webkit-scrollbar-thumb {
    background-color: #808080; /* Couleur du bouton de la scrollbar */
    border-radius: 15px; /* Border-radius pour rendre la scrollbar arrondie */
}
#info_contact_form_value_param::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Couleur de la piste de la scrollbar */
    border-radius: 15px; /* Border-radius pour rendre la scrollbar arrondie */
}

#info_contact_form_nom_param{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
}

#info_contact_form_nom_param:hover{
    cursor: pointer;
    background-color: #f1f1f1;
}

#info_contact_form_nom_param:focus{
    outline: none;
    border: 1px solid var(--color-first-color);
}

.equipe{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.div-equipe{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: #f5f5f5;
    padding: 2rem;
    border: 1px solid var(--color-first-color);
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    width: 80%;
}

.div-equipe form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}
.div-equipe form div{
    display: flex;
    gap: 1rem;
    width: 60%;
}
.div-equipe form div input{
    display: flex;
    width: 70%;
    align-items: center;
    margin-bottom: 0;
}
.div-equipe form div textarea{
    display: flex;
    width: 70%;
    height: 115px;
    resize: none;
    padding: 0.5rem;
    text-align: left;
    border: 1px solid var(--color-text);
    border-radius: 10px 5px 5px 10px;
    overflow-y: scroll;
}

.div-equipe form div textarea:focus{
    outline: none;
    border: 1px solid var(--color-first-color);
}

.div-equipe form div textarea::-webkit-scrollbar {
    width: 10px; 
}
.div-equipe form div textarea::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 15px;
}
.div-equipe form div textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 15px;
}

.div-equipe form div label{
    display: flex;
    align-items: center;
    text-align: center;
    width: 15%;
}

.div-equipe .button-add-content{
    width: 15%;
}

.selectmembre{
    width: 100%;
}

.selectmembre form{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.selectmembre form div{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selectmembre form div label{
    width: auto;
}

.modifMembreForm{
    width: 100%;
}

.class-h1::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-first-color);
    transition: all 0.3s;
}
/* hover sur modifMembreForm , modif-h1::after a width=100% */
.div-equipe:hover .class-h1::after{
    width: 100%;
}

.div-equipe form{
    margin-bottom: 5rem;
}

.supp_membre_form{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.supp_membre_form form{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 100%;
    justify-content: center;
}

.supp_membre_form form div{
    width: 60%;
    display: flex;
    /* gap: 2rem; */
    flex-direction: row;
    justify-content: space-evenly;

}

.supp_membre_form form div label{
    width: 50%;

}

.supp_membre_form form .button-add-content{
    width: 30%;
}