footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 7rem;
    font-family: 'Poppins', sans-serif;
    /* border-top: 1px solid var(--color-text); */
    color: var(--color-text);
    background-color: var(--color-second-color);
    overflow: hidden;
    /* color: white; */
    transition: transform 0.5s ease-in-out;
}

/* .fond{
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
    z-index: -1;
} */

.scrolledfooter {
    transform: translate3d(0, 0, 0);
}

.element{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
}

.reseaux{
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.facebook{
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: cover;
}

.facebook img{
    width: 100%;
    height: 100%;
}

.reseaux div:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    text-align: center;
    gap: 3rem;
}

.pages a{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}

.pages a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-first-color);
    transition: all 0.3s;
}

.pages a:hover::after{
    width: 100%;
}

.pages a:hover{
    color: var(--first-color);
}

.mentions ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    text-align: center;
    gap: 2rem;
}

.mentions ul li{
    list-style: none;
}

.mentions a {
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--text-color);
}

.mentions a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-first-color);
    transition: all 0.3s;
}

.mentions a:hover::after{
    width: 100%;
}

.hero{
    width: 0.5px;
    height: 50px;
    border-right: 0.5px solid var(--color-first-color);
}





@media all and (max-width : 970px){
    footer{
        height: auto;
    }
    .element{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 1rem;
        text-align: center;
    }
    .reseaux{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        gap: 3rem;
    }
    .pages{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        gap: 1rem;
    }
    .mentions ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        gap: 1rem;
        list-style: none;
    }
    .hero{
        height: 100px;
    }
}
@media all and (max-width: 530px){
    .element{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;
        gap: 10px;
        padding: 0;
        text-align: center;
    }
    .hero{
        transform: rotate(90deg);
    }
}