{% extends "base.html.twig" %}

{% block title %}RGRAPHICS - Accueil{% endblock %}

{% block body %}
    <div class="div-accueil">
        <div class="logo-text">
            <div class="logo-accueil">
                <img src="{{ asset('images/R-GRAPHICS.png') }}" alt="logo" class="logo">
            </div>
            <div class="text-accueil">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
        <button class="btn-decouvrir">Découvrir</button>
    </div>

    
{% endblock %}