<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" class="icon" href="{{asset('images/R-G.png')}}">
        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>

        {# Si la connexion à réussie #}
        {# {% if  %}
            <div class="flash-message flash-alert">
                <div class="alert">
                    <strong>Vous êtes connecté(e)</strong>
                </div>
            </div>
        {% endif %}     #}

        {% include "partials/_flash.html.twig" %}
        {% block body %}

        {% endblock %}

        {% include "partials/header.html.twig" %}

        {% include "partials/footer.html.twig" %}
    </body>
</html>
