{% extends 'base.html.twig' %}

{% block title %}RGRAPHICS - Mentions légales{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mentionslegales.css') }}">
{% endblock %}

{% block body %}
    <div class="div_mlg">
    {# Mentions légales du site web R GRAPHICS

    Éditeur du site :
    R GRAPHICS, société par actions simplifiée
    Siège social : 1 RUE DE LA HOTTEE DU DIABLE, 02210 ROCOURT-SAINT-MARTIN
    SIREN : 802 857 698
    Capital social : 5 000,00 EURO
    Représentée par M. Rodolphe RASE, en qualité de président.

    Créateur du site :
    Gaston Olonde
    Contact : gastonolonde@gmail.com

    Hébergeur du site :
    [Inscrire le nom et les coordonnées de l'hébergeur]

    Responsable de la publication :
    M. Rodolphe RASE

    Coordonnées :
    1 RUE DE LA HOTTEE DU DIABLE
    02210 ROCOURT-SAINT-MARTIN
    Téléphone : [Inscrire le numéro de téléphone]
    Email : [Inscrire l'adresse e-mail]

    Numéro RCS : Soissons B 802 857 698

    Numéro de TVA intracommunautaire : FR56802857698

    Activité principale : Activités de pré-presse (Code NAF 1813Z)

    Date de création de l'entreprise : 04-06-2014

    Durée de l'hébergement du site : [Inscrire la durée, s'il y a une spécification]

    Conditions d'utilisation :
    L'utilisation du site est soumise aux présentes conditions d'utilisation. En accédant au site, vous acceptez ces conditions.

    Propriété intellectuelle :
    L'ensemble du contenu du site, textes, images, logos, etc., est la propriété de R GRAPHICS. Toute reproduction ou utilisation sans autorisation préalable est interdite.

    Protection des données personnelles :
    Les données collectées sur ce site sont utilisées uniquement à des fins internes et ne seront pas transmises à des tiers. Conformément à la loi, vous disposez d'un droit d'accès, de modification et de suppression de vos données.

    Cookies :
    Le site peut utiliser des cookies pour améliorer l'expérience utilisateur. En continuant à naviguer sur le site, vous acceptez l'utilisation de ces cookies.

    Liens externes :
    Le site peut contenir des liens vers des sites externes. R GRAPHICS décline toute responsabilité quant au contenu de ces sites.

    Ces mentions légales peuvent être sujettes à modification. Il est recommandé de les consulter régulièrement.

    Date de dernière mise à jour : 01-02-2024
    #}
    <h1>Mentions légales</h1>
    <h2>Éditeur du site</h2>
    <p>R GRAPHICS, société par actions simplifiée, Siège social : 1 RUE DE LA HOTTEE DU DIABLE, 02210 ROCOURT-SAINT-MARTIN, SIREN : 802 857 698</p>
    <p>Représentée par M. Rodolphe RASE, en qualité de président.</p>
    <h2>Créateur du site</h2>
    <p>Gaston Olonde</p>
    <p><span>Contact :</span> gastonolonde@gmail.com</p>
    <h2>Responsable de la publication</h2>
    <p>M. Rodolphe RASE</p>
    <h2>Coordonnées</h2>
    <p>1 RUE DE LA HOTTEE DU DIABLE</p>
    <p>02210 ROCOURT-SAINT-MARTIN</p>
    <p><span>Téléphone :</span> {{tel1.valueparam}} , {{tel2.valueparam}}</p>
    <p><span>Email :</span> {{email.valueparam}}</p> 
    <h2>Numéro de TVA intracommunautaire</h2>
    <p>FR56802857698</p>
    <h2>Activité principale</h2>
    <p>Activités de pré-presse (Code NAF 1813Z)</p>
    <h2>Date de création de l'entreprise</h2>
    <p>04-06-2014</p>
    <h2>Conditions d'utilisation</h2>
    <p>L'utilisation du site est soumise aux présentes conditions d'utilisation. En accédant au site, vous acceptez ces conditions.</p>
    <h2>Propriété intellectuelle</h2>
    <p>L'ensemble du contenu du site, textes, images, logos, etc., est la propriété de R GRAPHICS. Toute reproduction ou utilisation sans autorisation préalable est interdite.</p>
    <h2>Protection des données personnelles</h2>
    <p>Les données collectées sur ce site sont utilisées uniquement à des fins internes et ne seront pas transmises à des tiers. Conformément à la loi, vous disposez d'un droit d'accès, de modification et de suppression de vos données.</p>
    <h2>Cookies</h2>
    <p>Le site n'utilise aucun cookies</p>
    <h2>Liens externes</h2>
    <p>Le site peut contenir des liens vers des sites externes. R GRAPHICS décline toute responsabilité quant au contenu de ces sites.</p>
    <h2>Ces mentions légales peuvent être sujettes à des modifications. Il est recommandé de les consulter régulièrement.</h2>
    <h2>Date de dernière mise à jour</h2>
    <p>20-02-2024</p>
    
    </div>
{% endblock %}
